{% extends 'base.html' %}
{% block title %}
  Главная страница
{% endblock %}

{% block content %}
  {% if auth %}
    <h2 style="margin: 20px">Привет, {{ user['name'] }} </h2>
    <div style="display: flex; justify-content: center">
      <ul class="list-group">
      <li class="list-group-item active">Информация об аккаунте:</li>
      <li class="list-group-item">Номер аккаунта: {{ user['id'] }}</li>
      <li class="list-group-item">Логин: {{ user['user_name'] }}</li>
      <li class="list-group-item">Имя пользователя: {{ user['name'] }}</li>
    </ul>
    </div>
    <p style="margin: 20px">Вы авторизованы!</p>
    <a href="logout">Выйти из аккаунта</a>
  {% else %}
    <div style="text-transform: uppercase">
      <h2 style="margin: 20px">Вы не авторизированы! <br> Чтобы авторизироваться: </h2>
      <a href="login">Зайдите в свой аккаунт</a> или <a href="signup">Зарегистрируйте новый</a>
    </div>
  {% endif %}
{% endblock %}