{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
    <h2 style="text-transform: uppercase; margin: 20px">Регистрация нового пользователя</h2>
    <form>
        {{ form.csrf_token() }}
        {% for field in form if field.name != 'csrf_token' %}
            {{ field.label }}
            <p style="margin: 0">{{ field }}</p>
            {% if field.errors %}
                <p style="font-size: 12px; font-style: italic; color: brown; margin: auto">{{ field.errors[0] }}</p>
            {% endif %}
        {% endfor %}
        {% for message in get_flashed_messages() %}
          <p style="font-size: 12px; font-style: italic; color: brown; margin: auto">{{ message }}</p>
        {% endfor %}
        <input type="submit" formmethod="post" value="Зарегистрироваться" style="font-size: 11px; margin: 10px">
    </form>
    <a href="login">Имеете зарегистрированного пользователя?</a>
    <br>
    <a href="/">Назад на главную страницу</a>
{% endblock %}